body{

    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.form-box{  /*  white box where are elements are stored */

    width: 380px;
    height: 460px;
    background: #fff;

    /* properties for centering the entire white form-box */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* ------------------------------- */

    box-shadow: 0 0 20px 9px #c050231f; /* little box shadow around form-box */
    border-radius: 5px; /* little border radius around the edges of form-box */
}

.button-box{  /* area around buttons, where buttons will be placed in that area ( box ) */

    width: 220px; /* width for that area where buttons will be placed*/
    margin: 35px auto;  /* centering that area */
    box-shadow: 0 0 20px 9px #ff61241f; /* little box shadow around that area */ 
    border-radius: 30px; /* border radius for smother edges around buttons and that button area */
    position: relative; /* inserted this relative position because I don't want to affect the other layout in this box*/
}

.top-btn{ /*  properties for buttons log in and register */

    padding: 12px 30px; /* width and height for buttons */
    outline: none; 
    cursor: pointer;
    background: transparent; /* with this, it will "remove" the edges and buttons will be like connected, it will look like two buttons in one */
    border: none; /* no borders so we can achieve the look with background transparent which I described above*/
    border-radius: 30px;
    font-size: 14px; /* font size for text in buttons */
}



